﻿@page "/"
@using BlazorRTColorChange.Client.Components

@if (isControlled)
{
    if (colorValues.Count > 0)
    {
        <ColorBackground ColorValueList="@colorValues"></ColorBackground>
    }
    else
    {
        <div>
            <p>
                Select A Color!
            </p>
        </div>
    }

}
else
{
    <MatThemeProvider Theme="@theme1">
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell">
                    <MatButton Style="margin-bottom: 16px; width: 16vw; height: 6vh;min-height: 25px;min-width: 120px;font-size: 10px;" Unelevated="true" OnClick="@SetControlled" Disabled="@(!IsConnected)">SetControlled</MatButton>
                    @if (IsConnected)
                    {
                        <ColorSelector @bind-Value="@Color"></ColorSelector>
                    }
                </div>

            </div>
        </div>


        @if (colorValues.Count > 0)
        {
            <ColorBackground ColorValue="@colorValues[colorValues.Count - 1]"></ColorBackground>
        }
        else
        {
            <div style="padding: 16px 8px 16px; margin: 16px; background-color: @theme1.Primary; ">
                <MatHeadline6> Select A Color! </MatHeadline6>
            </div>
        }

    </MatThemeProvider>
}


