﻿.demo-mat-blazor-theme-color-item {
    display: table-cell;
    width: 36px;
    height: 36px;
    vertical-align: top;
    text-align: center;
    color: white;
    cursor: pointer;
}

.demo-mat-blazor-theme-color-item .material-icons {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.demo-mat-blazor-theme-color-item.selected { /* border: 1px solid black; */
}
